.navbar {
    background-color: rgba(147, 147, 203, 0.866);
}

video::-webkit-media-controls {
    display: none;
  }
  
  video::-webkit-media-controls-play-button {
    display: block;
  }

  .footer {
    background-color: rgba(147, 147, 203, 0.866);
  }

  .home {
    margin-top: 100px;
  }

  .home-para {
    text-align: justify;
    padding-right: 21px;
  }
  
  .home-imag1 {
    width: 600px;
    border-radius: 20px;
  }

  .section-slider {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .slider {
    width: 100%;
    height: 500px;
  }

  .lune-active {
    width: 800px;
  }

  .lune-active-para { 
    text-align: justify;
    width: 800px;
  }

  .lune-active-para1 {
     font-size: 30px;
  }

  .section4 {
    margin-top: 50px;
  }

  .carte-lune {
    margin-bottom: 50px;
  }

  .nouvelle-lune-img {
    width: 600px;
    border-radius: 130px;
    margin-left: 5px;
  }

  .plein-lune-img {
     width: 600px;
     border-radius: 130px;
     margin-right: 5px;
  }

  .calend-plein {
    height: 800px;
  }

  .calend-plein-para {
    margin-top: 250px;
  }

  .plein-para {
    text-align: justify;
    margin-right: 20px;
  }

  .plein-para1 {
    font-size: 30px;
    font-style: oblique;
    color: rgba(147, 147, 203, 0.866);

  }

  .plein-para2 {
    font-size: 25px;
    font-style: oblique;
    color: rgba(147, 147, 203, 0.866);
  }

  .nouvelle-para {
    text-align: justify;
    margin-left: 20px;
  }

  .nouvelle-para1 {
    font-size: 30px;
    font-style: oblique;
    color: rgba(147, 147, 203, 0.866);
  }

  .calend-nouvelle {
    height: 800px;
  }

  .link-scroll {
    margin-left: 150px;
    margin-bottom: 50px;
    font-size: 15px;
  }

  .act-section1 {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .act-title {
    color: rgba(147, 147, 203, 0.866);
    font-style: oblique;
    text-align: center;
  }

  .act-imag1 {
    width: 600px;
    height: 260px;
    border-radius: 20px;
    margin-left: 20px;
  }

  .act-para {
    text-align: justify;
    margin-right: 20px;
    margin-left: 20px;
  }

  .act-section {
    margin-bottom: 50px;
  }

  .act-imag2 {
    width: 600px;
    height: 260px;
    border-radius: 20px;
    margin-right: 20px;
  }

  .act-imag3 {
    width: 620px;
    height: 360px;
    border-radius: 20px;
    margin-left: 20px;
  }

  .act-imag4 {
    width: 600px;
    height: 310px;
    border-radius: 20px;
    margin-right: 20px;
  }

  .act-imag5 {
    width: 600px;
    height: 310px;
    border-radius: 20px;
    margin-left: 20px;
  }

  .ast-chi-title {
    text-align: center;
    color: #b79e56;
    margin-top: 80px;
  }

  .section-ast-chi1 {
    margin-top: 50px;
  }

  .section-ast-chi2 {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .ast-chi-para1 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .ast-chi-para1-title {
    text-align: center;
    font-style: oblique;
    color: #b79e56;
  }

  .ast-chi-para1-1 {
    text-align: justify;
  }

  .ast-chi-signe {
    color: #c61017;
    font-size: 20px;
  }

  .ast-chi-imag1 {
    width: 590px;
    height: 450px;
    border-radius: 20px;
    margin-right: 20px;
  }

  .ast-chi-card {
    width: 65rem;
    margin-top: 30px;
  }

  .ast-chi-cardbody {
    background-color: #c61017;
    text-align: justify;
    font-size: 18px;
    border-radius: 60px;
  }

  .para-card {
    color: #b79e56;
  }

  .section-ast-chi3 {
    margin-bottom: 50px;
  }

  .card-signe {
    width: 390px;
  }

  .card-li {
    color: #b79e56;
  }

  .card-li-mot {
    color: #c61017;
  }

  .formation {
    background-image: url("/public/img/formation/background-formation.jpg");
    padding-bottom: 50px;
  }

  .section-formation-title {
    font-style: oblique;
    text-align: center;
    padding-top: 30px;
    color: rgba(147, 147, 203, 0.866);
  }

  .section-formation-cards1-2 {
    width: 500px;
    height: 900px;
  }

  .section-formation-cards3-4 {
    width: 500px;
    height: 850px;
  }

  .section-formation-cards5-6 {
    width: 500px;
    height: 990px;
  }

  .formation-cards-li {
    color: #b79e56;
  }

  .formation-cards-span {
     color: black;
  }

  .formation-cards-imag {
    height: 150px;
    width: 400px;
    border-radius: 20px;
  }

  .section-formation-ref-nais {
    margin-bottom: 50px;
  }

  .formation-ref-nais-title {
    font-style: oblique;
    text-align: center;
    color: rgba(147, 147, 203, 0.866);
    padding-top: 30px;
  }

  .formation-ref-nais-imag1 {
    width: 500px;
    border-radius: 30px;
    margin-left: 30px;
  }

  .formation-ref-nais-para1 {
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
  }

  .formation-ref-nais-para1-mot1 {
    color: rgba(147, 147, 203, 0.866);
    font-size: 22px;
  }

  .formation-ref-nais-para2 {
    text-align: justify;
    margin-left: 30px;
    margin-top: 30px;
  }

  .formation-ref-nais-para2-ul {
    color: #b79e56;
  }

  .formation-ref-nais-para2-span {
    color: black;
  }

  .formation-ref-nais-imag2 {
    width: 450px;
  }

  .section-formation-chiro {
    margin-bottom: 50px;
  }

  .section-formation-chiro-title1 {
    color: rgba(147, 147, 203, 0.866);
    font-style: oblique;
    text-align: center;
    padding-top: 30px;
  }

  .formation-chiro-imag1 {
    width: 500px;
    height: 700px;
    border-radius: 30px;
    margin-left: 20px;
  }

  .formation-chiro-para1{
    text-align: justify;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .formation-chiro-para1-mot1 {
    color: rgba(147, 147, 203, 0.866);
    font-size: 22px;
  }

  .formation-chiro-para1-ul {
    color: #b79e56;
  }

  .formation-chiro-para1-span {
    color: black;
  }

  .formation-chiro-title2 {
    color: rgba(147, 147, 203, 0.866);
    font-style: oblique;
    text-align: center;
  }

  .formation-chiro-para2{
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
  }

  .formation-chiro-para2-mot1{
    color: blue;
    font-size: 20px;
  }

  .formation-chiro-para2-mot2{
    color: green;
    font-size: 20px;
  }

  .formation-chiro-para2-mot3{
    color: red;
    font-size: 20px;
  }

  .formation-chiro-para2-mot4{
    color: rgb(143,0,255);
    font-size: 20px;
  }

  .formation-chiro-para2-separation {
    border: solid;
    color: #b79e56;
  }

  .formation-chiro-imag2-3-4 {
    width: 500px;
    height: 570px;
    margin-right: 20px;
  }

